<?php

require 'webp-on-demand/vendor/autoload.php';

use WebPOnDemand\WebPOnDemand;

$status = WebPOnDemand::serve(__DIR__);
if ($status < 0) {
    // Conversion failed.
    // you could message your application about the problem here...
}
